.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 90px;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid #eaeaea;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 45%;
  }
  
  .card h1 {
    font-size: 2rem;
    margin: 0 0 0 0;
  }
  
  .card h2 {
    font-size: 1.5rem;
    margin: 0 0 0 0;
  }
  
  .button {
      background-color: blue;
      width: 100px;
      height: 35px;
      border: none;
      border-radius: 7px;
      margin-right: 15px;
      color: white;
      font-weight: bolder;
  }

  .button:hover {
      background-color: turquoise;
  }

  .date {
      float: right;
      font-size: 13px;
  }
  
  @media (max-width: 600px) {
    .grid {
      width: 100%;
      flex-direction: column;
    }
  }

  