.nav {
    background-color: #242424;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

.navLogo {
    font-size: 2rem;
    font-weight: bolder;
    color: #fff;
    padding-left: 80px;
}

.nav ul {
    text-decoration: none;
    list-style: none;
    color: #fff;
    display: flex;
    padding-right: 80px;
}

.nav ul li{
    padding: 1rem;
    font-weight: bolder;
    position: relative;
}

.nav ul li:hover {
    color: orange;
}

.counter {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    position: absolute;
    top: -0.1px;
    right: -1px;
    display: flex;
    justify-content: center;
    align-items: center;
}